<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        .myjumbo{
            background-color: rgba(0, 0, 0,0.5);
            color:#ffb80a;
           
        }
      
    </style>
</head>
<body>
    <div ng-controller="HomeController">
        <div class="jumbotron myjumbo">
            <!--<span class="label label-warning" id="visibleOfData">{{followStatus}}</span>-->
            
            <div ng-hide="userProfile.username == currentUser.username">
                <button class="btn btn-success pull-right btn-lg" ng-hide="currentUser.follows.indexOf(userProfile.username) > -1" ng-click="follow(userProfile.username)" data-toggle="tooltip" data-placement="right" title="Click to Follow">

                    <span>Follow
                    </span>

                </button>

                <button class="btn btn-danger pull-right btn-lg" ng-show="currentUser.follows.indexOf(userProfile.username) > -1" ng-click="unfollow(userProfile.username)" data-toggle="tooltip" data-placement="right" title="Click to Unfollow">

                    <span>Unfollow
                    </span>

                </button>
            </div>


            <h1>{{userProfile.first}} {{userProfile.last}}</h1>


            <!--
            {{currentUser}}<br />
            {{userProfile}}<br /><br />
            {{currentUser.follows.indexOf(userProfile.username)}}
                
            -->
            <!--
                            <button class="btn btn-primary pull-right btn-lg" ng-click="follow(userProfile.username)">Follow</button>-->

        </div>

        <div>
            <table class="table table-responsive">
                <thead>
                    <tr ng-show="userProfile.wallresult.length > 0">
                        <th>
                            <h2> Shared Data: </h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="w in userProfile.wallresult">
                        <td>
                            {{w.walldata}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        

        
    </div>
</body>
</html>
