<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Main</title>
    <style>
        .h22{
            //text-align:center;
            font-size:20px;
            font-weight:bold;
}
        .white-font{
            color:white;
        }
        .mytable{
            background-color:rgba(0, 0, 0,0.5);
            font-size:20px;
            
        }
        .mypara{
            padding-left:25px;
        }
        .mydropdown{
            font-size: 15px;
        }
    </style>
</head>
<body>
    <table class="table mytable">
        <thead>
            <tr>
                <th>
                    <h2 class="h22 white-font">URL Name</h2>
                    
                </th>
                <th>
                    <h2 class="h22 white-font">URL</h2>
                </th>
                <th colspan="2">
                    <h2 class="h22">Your Choice Please</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text" class="form-control linkName" placeholder="You'd like to call it..." ng-model=" url.linkname" id="linkName" />
                    
                </th>
                <th>
                    <input id="link1" type="url" class="form-control link1" placeholder="http://www.google.com" ng-model=" url.link1">
                </th>
                <th>
                    <select ng-model="url.choice" required class="form-control">
                        <option value="p">The P elements</option>
                        <option value="div">The Div elements</option>
                        

                    </select>
                </th>
                <th>
                    <input type="submit" value="Submit" class="btn btn-primary pull-right btn-lg" id="url-submit" ng-click="urlSubmit(url)">
                </th>

            </tr>
            <tr>
                <td colspan="4"><p class="help-block">URL name must be unique</p></td>
            </tr>
            <tr ng-show="scrap.length > 0">
                <th colspan="4">
                    <h2>{{choice}}'s Data </h2>
                </th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="s in scrap">
                <td colspan="3" width="98%">
                    <p class="mypara">{{s.tagData}}</p>
                </td>
                <td width="2%">
                    <button class="btn btn-success btn-lg" ng-click="addData(s)">  
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>

                </td>
            </tr>
            <!--  <tr ng-repeat="a in addedData"> To display the added data, i.e the one that the user wants to save to the SERVER
                     <td colspan="2">
                         {{a.tagData}}
                     </td>
                     <td>
                         <button class="btn btn-danger" ng-click="removeData(a)">
                             <span class="glyphicon glyphicon-remove"></span>
                         </button>

                     </td>
                 </tr> -->


        </tbody>
        <!--<tfoot>
        <tr>
            <td colspan="3">
                <div class="pagination">
                    <ul>
                        <li ng-class="prevPageDisabled()">
                            <a href ng-click="prevPage()">« Prev</a>
                        </li>
                        <li ng-repeat="n in range()"
                            ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                            <a href="#">{{n+1}}</a>
                        </li>
                        <li ng-class="nextPageDisabled()">
                            <a href ng-click="nextPage()">Next »</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tfoot>-->
    </table>


    <table class="table mytable">
        <thead>
            <tr ng-show="datum.length > 0">
                <th>
                    <h2>Your Picks</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in datum">
                <td colspan="2">
                    {{d.tagData}}
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="removeData(d)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>

                </td>
            </tr>
            <tr>
                <td colspan="3" ng-show="datum.length > 0">
                    <button class="btn btn-warning pull-left btn-block btn-lg" ng-click="savePicks()">Save My Picks</button>

                </td>
            </tr>
        </tbody>

    </table>

</body>
</html>
