<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <style>
        h1{ 
            text-align:center;
        }
        .a1{
            color: #66ffff;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div ng-controller="HomeController">
       
        <h1>Look Who Shared What!!!</h1>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        Data
                    </th>
                    <th>
                        Username
                    </th>
                    
                </tr>

            </thead>
            <tbody>
                <tr ng-repeat="s in wallresults">

                    <td>
                        {{s.walldata}}
                    </td>
                    <td ng-hide="currentUser.username == s.username">
                        <a class="a1" ng-click="showUser(s.username)">{{s.username}}</a>
                    </td>
                    <td ng-show="currentUser.username == s.username">
                        {{s.username}}
                    </td>


                </tr>
            </tbody>
        </table>


    </div>
</body>
</html>
